<!DOCTYPE html>
<html>
<head>
	<title>HandyZeb Admin</title>
	<link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<% include partials/nav %>
    <div class="container">
		<h1>Login</h1>
		<form class="form-inline" action="/login" method="post">
		<label for="userName">Username:</label>
		<input type="text" name="userName"><br>
		<label for="password">Password:</label>
		<input type="password" name="password"><br>
		<input type="submit" value="Login">
	</div>	
</body>
</html>