* {
    font-family: "Calibri";
}

#banner h1, #banner p {
    padding: 0 0 5px;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0 0 5px;
}

h3 {
    background-color: navy;
    color: yellow;
    margin: 0 0 5px;
    text-align: center;
}

input[type=submit] {
    padding: 1px 3px;
}

#schedule {
    display: inline-block;
    float: left;
    margin-right: 1%;
    width: 65%;
}

.product {
    border: 1px solid gray;
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 5px;
    text-align: center;
}

.product * {
    margin: 0; 
    padding: 0;
}

.product img { 
    width: 50px; 
}

#cart {
    width: 34%;
    display: inline-block;
}

#cart p {
    margin: 0 0 5px;
}

#cart p span {
    font-weight: bold;
}

#cart table {
    border-collapse: collapse; 
    width: 100%;
}

#cart tr:nth-child(odd) {
    background-color: lightgray;
}

#cart td {
    border: 1px solid black;
    padding: 5px;
}

#cart td.right {
    text-align: right;
}

#cart form {
    display: inline-block;
}
