<div class="row-fluid">
   <div class="span2">
       <div class="col-sm-3 col-md-2">
           <ul class="nav nav-pills nav-stacked sidebar">
               <li class="active"><a href="Pending.jsp">Pending Requests</a></li>
               <li><a href="acceptedBooking.jsp">Accepted Requests</a></li>
               <li><a href="ongoingBooking.jsp">Ongoing Requests</a></li>
               <li><a href="ApproveTransaction.jsp">Approved Transactions</a></li>
          </ul>
       </div>
   </div>
</div>