<footer class="site-footer">
		<div class="row">
			<nav class="footerOne columns">
				<ul class="footerLink" id="mainFooterLinks">
					<li><a href="#home">Home</a></li>
					<li><a href="#help">Help</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#popService">Service</a></li>
					<li><a href=""></a>Contact Us</li>
				</ul>
			</nav>

			<nav class="footerTwo columns">
				<p class="footerHeader">Locations</p>
				<ul class="footerLink">
					<li>Session Road</li>
					<li>Aurora Hill</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>

			<nav class="footerThree columns">
				<p class="footerHeader">Popular Services</p>
				<ul class="footerLink">
					<li>Cleaning</li>
					<li>Handyman</li>
					<li>Plumbing</li>
					<li>Electrical</li>
					<li>Moving Help</li>
					<li>Painting</li>
					<li>Furniture Assembly</li>
					<li><a href="#allservices">See all services</a></li>
				</ul>
			</nav>
		</div>

		<div class="row">
			<div class="socialMediaIcons">
				<a class="icon-link"><img class="socialmed" src="styles/icons/fbicon.png" alt="icon"></a>
				<a class="icon-link"><img class="socialmed" src="styles/icons/twittericon.png" alt="icon"></a>
				<a class="icon-link"><img class="socialmed" src="styles/icons/igicon.png" alt="icon"></a>
			</div>
			<div class="footer-divider"></div>
		</div>

		<div class="row pad-top">

			<div class="left">
				<ul class="footerLast">
					<li>Privacy</li>
					<li>Cookies</li>
					<li>Terms</li>
					<li>Cancellation Policy</li>
				
				</ul>
			</div>
			<div class="right">© 2017 Handy Zeb. All rights reserved.</div>
			
		</div>
	</footer>
</body>