<header class="site-header" id="home">
		<div class="headerRow">
			<div class="headerContents">
				<img src="styles/logo.png" alt="logo">

				<h1>Handy Zeb</h1>

				<div class="headerContainer left">
					<ul class="navContainer">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#popularServ">Services</a></li>
					</ul>
				</div>
				<div class="headerContainer right">
					
					<ul class="navContainer">
							<li><a href="/login">Log In</a></li>
							<li><a href="/register">Register</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</header>