<nav>
	<ul class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/users">Users</a></li>
		<li role="presentation"><a href="/customers">Customers</a></li>
		<li role="presentation"><a href="/service-providers">Service Providers</a></li>
		<li role="presentation"><a href="/services">Services</a></li>
		<li role="presentation"><a href="/transactions">Transactions</a></li>
		<li role="presentation"><a href="/register">Register</a></li>
		<li role="presentation"><a href="/spregister">Service Provider Register</a></li>
	</ul>
</nav>