<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/customers">Customers</a></li>
		<li><a href="/service-providers">Service Providers</a></li>
		<li><a href="/services">Services</a></li>
		<li><a href="/transactions">Transactions</a></li>
	</ul>
</nav>