* {
    font-family: "Calibri";
}

#banner h1, #banner p {
    padding: 0 0 5px;
    margin: 0;
}

input[type=submit] {
    padding: 1px 3px;
}

.product {
    border: 1px solid gray;
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 5px;
    text-align: center;
}

.product * {
    margin: 0; 
    padding: 0;
}

.product img { 
    width: 50px; 
}

#cart {
    width: 34%;
    display: inline-block;
}

#cart p {
    margin: 0 0 5px;
}

#cart p span {
    font-weight: bold;
}

#cart table {
    border-collapse: collapse; 
    width: 100%;
}

#cart tr:nth-child(odd) {
    background-color: lightgray;
}

#cart td {
    border: 1px solid black;
    padding: 5px;
}

#cart td.right {
    text-align: right;
}

#cart form {
    display: inline-block;
}

#loginHeader{
    text-align:center;
}

.loginArea{
    padding-left:40%;
    padding-right:40%;
}

.loginArea p{
    font-size:25px;
}

#loginButton{
    text-align:center;
}

.bannerSp{
    align-content:center;
    text-align:center;
}

.navbar-header p{
    text-align:center;
    color:white;
}

.navbar-header a{
    padding-left:3%;
}

#timeStamp{
    font-size:15px;
}

.updateInfoSp{
    padding-left:40%;
    padding-right:40%;
}

.updateInfoSp p{
    font-size:25px;
}

.responseMessage{
    text-align:center;
}

.pageHeader{
    padding-left:10%;
}

.secondPageHeader{
    text-align:center;
}

.schedContainer{
    text-align:center;
    padding-right:2%;
    padding-left:2%;
    border:1px solid #baddff;
}

.schedContainer label{
    padding-left:1%;
    padding-right:1%;
}

.serviceContainer{
    text-align:center;
    padding-right:2%;
    padding-left:2%;
    border:1px solid #baddff;
}

.sidebar{
    background-color:#f4f4f4;
}

.spanContent{
    background-color:lightgray;
    align-content:right;
    margin-left:16.5%;
}

#returnToHome{
    text-align:center;
}

.tableContent{
    align-content:right;
    margin-left:16.5%;
    display:flex;
}

.table{
    table-layout: fixed;
}

.table th, table td {
    overflow: hidden; 
}

.bookIdCol{
    width:5%;
}

.nameCol{
    width:25%;
}

.dateCol{
    width:25%;
}

.typeCol{
    width:25%;
}

.submitCol{
    width:15%;
}

.form-control{
    resize: none;
    width:100% !important;
}

.filterBox{
    width:80%;
}

.scheduleProfile{
    padding-left:10%;
}