body{
	font: courier;
}

nav .nav-pills{
    background-color: #212e42;
}

nav .nav-pills li a{
    color: white;
}

nav .nav-pills li a:hover{
    background-color: white;
    color: black;
}

input, btn .btn-info{
    color: green;
}

.btn{
    color: white;
    background-color: #212e42;
}

.btn:hover{
    background-color: white;
    border-color: #212e42;
}


