<!DOCTYPE html>
<html>
<head>
	<title>Error!</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<h1><%= error.status %></h1>
	<p> <%= error.message %></p>
</body>
</html>