<!DOCTYPE html>
<html>
<head>
	<title>HandyZeb Admin</title>
</head>
<body>
	<div class="container">
		<% include partials/nav %>
		<h1>Welcome, HandyZeb Admin</h1>
		<p> - something here - </p>
	</div>
</body>
</html>