<!DOCTYPE html>
<html>
<head>
	<title>Handy Zeb | Service Provider  ( ͡° ͜ʖ ͡°)</title>
	<link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
	<header class="site-header">
		<div class="headerRow">
			<div class="headerContents">
				<h1>Handy Zeb</h1>

				<div class="headerContainer left">
					<ul class="navContainer">
						<li><a href="/">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#popularServ">Services</a></li>
						<li><a href="#help">Help</a></li>
					</ul>
				</div>
				<div class="headerContainer right">
					
					<ul class="navContainer">
							<li><a href="login">Log In</a></li>
							<li><a href="register">Register</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</header>


	<main>
		<div class="firstBanner">
			<div class="overlay">
				<div class="bannerHeader">
					<h1>Handy Zeb</h1>
					<p>Book your local, trusted service provider</p>
				</div>
			</div>
		</div>

		<section class="row content" id="about">
			<h2 class="bannerTitle">About</h2>
			<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugit ipsam sunt suscipit, quod quae error, aliquam eos cumque enim culpa consectetur excepturi facere fugiat debitis a in! Laboriosam, iusto.</span>
			<span>Reiciendis in, tenetur odit enim autem vero voluptates asperiores quod dolorum, culpa beatae nobis voluptatem perspiciatis, sit sunt cum illo nam quibusdam neque similique! Repellat mollitia molestias earum soluta animi.</span>
			<span>Illo consectetur laboriosam, facilis laudantium et eum tempore aperiam debitis soluta optio quidem voluptate libero repudiandae, sint, sequi non perferendis magni cupiditate eius ipsam pariatur recusandae. Exercitationem quas inventore, quisquam!</span>
			<span>Praesentium, soluta. Dolorum et ullam iste, inventore repellendus nulla debitis? Voluptatibus sequi doloremque quod error, quaerat itaque tenetur, natus facilis. Officia, suscipit voluptas ipsum? Vel fuga, dolores iusto deleniti at!</span>
			<span>Sit at culpa laudantium, eaque iure quod, rem sint. Adipisci ipsum nisi magnam, laboriosam ut quod dolorum beatae tenetur ratione voluptatum! Quibusdam cupiditate nesciunt, facere nemo ducimus, aliquam ratione atque!</span></p>

			
		</section>


		<section class="row content" id="popularServ">
			<h2 class="bannerTitle">Popular Services</h2>
			<div class="popService"><div class="service-title">Plumbing</div></div>
			<div class="popService"><div class="service-title">Electrical</div></div>
			<div class="popService"><div class="service-title">Cleaning</div></div>
			<div class="popService"><div class="service-title">Roofing</div></div>
			<div class="popService"><div class="service-title">Gardening</div></div>
			<div class="popService"><div class="service-title">Painting</div></div>


			
		</section>

		<section class="row content">
			<h2 class="bannerTitle">How it Works</h2>
			<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugit ipsam sunt suscipit, quod quae error, aliquam eos cumque enim culpa consectetur excepturi facere fugiat debitis a in! Laboriosam, iusto.</span>
			<span>Reiciendis in, tenetur odit enim autem vero voluptates asperiores quod dolorum, culpa beatae nobis voluptatem perspiciatis, sit sunt cum illo nam quibusdam neque similique! Repellat mollitia molestias earum soluta animi.</span>
			<span>Illo consectetur laboriosam, facilis laudantium et eum tempore aperiam debitis soluta optio quidem voluptate libero repudiandae, sint, sequi non perferendis magni cupiditate eius ipsam pariatur recusandae. Exercitationem quas inventore, quisquam!</span>
			<span>Praesentium, soluta. Dolorum et ullam iste, inventore repellendus nulla debitis? Voluptatibus sequi doloremque quod error, quaerat itaque tenetur, natus facilis. Officia, suscipit voluptas ipsum? Vel fuga, dolores iusto deleniti at!</span>
			<span>Sit at culpa laudantium, eaque iure quod, rem sint. Adipisci ipsum nisi magnam, laboriosam ut quod dolorum beatae tenetur ratione voluptatum! Quibusdam cupiditate nesciunt, facere nemo ducimus, aliquam ratione atque!</span></p>


			
		</section>	

		<section class="row content" id="help">
			<h2 class="bannerTitle">Help</h2>
			<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugit ipsam sunt suscipit, quod quae error, aliquam eos cumque enim culpa consectetur excepturi facere fugiat debitis a in! Laboriosam, iusto.</span>
			<span>Reiciendis in, tenetur odit enim autem vero voluptates asperiores quod dolorum, culpa beatae nobis voluptatem perspiciatis, sit sunt cum illo nam quibusdam neque similique! Repellat mollitia molestias earum soluta animi.</span>
			<span>Illo consectetur laboriosam, facilis laudantium et eum tempore aperiam debitis soluta optio quidem voluptate libero repudiandae, sint, sequi non perferendis magni cupiditate eius ipsam pariatur recusandae. Exercitationem quas inventore, quisquam!</span>
			<span>Praesentium, soluta. Dolorum et ullam iste, inventore repellendus nulla debitis? Voluptatibus sequi doloremque quod error, quaerat itaque tenetur, natus facilis. Officia, suscipit voluptas ipsum? Vel fuga, dolores iusto deleniti at!</span>
			<span>Sit at culpa laudantium, eaque iure quod, rem sint. Adipisci ipsum nisi magnam, laboriosam ut quod dolorum beatae tenetur ratione voluptatum! Quibusdam cupiditate nesciunt, facere nemo ducimus, aliquam ratione atque!</span></p>


			
		</section>

		
	</main>




	<footer class="site-footer">
		<div class="row">
			<nav class="footerOne columns">
				<ul class="footerLink" id="mainFooterLinks">
					<li>Home</li>
					<li>Help</li>
					<li>About</li>
					<li>Services</li>
					<li>Contact Us</li>
				</ul>
			</nav>

			<nav class="footerTwo columns">
				<p class="footerHeader">Locations</p>
				<ul class="footerLink">
					<li>Bahay mo</li>
					<li>Yer Mum</li>
					<li>Mars</li>
					<li>Earth</li>
					<li>Sa puso mo</li>
					<li>kill me</li>
				</ul>
			</nav>

			<nav class="footerThree columns">
				<p class="footerHeader">Popular Services</p>
				<ul class="footerLink">
					<li>Cleaning</li>
					<li>Handyman</li>
					<li>Plumbing</li>
					<li>Electrical</li>
					<li>Moving Help</li>
					<li>Painting</li>
					<li>Furniture Assembly</li>
					<li>See all services</li>
				</ul>
			</nav>
		</div>

		<div class="row">
			<div class="socialMediaIcons">
				<a class="icon-link"><img class="socialmed" src="styles/icons/fbicon.png" alt="icon"></a>
				<a class="icon-link"><img class="socialmed" src="styles/icons/twittericon.png" alt="icon"></a>
				<a class="icon-link"><img class="socialmed" src="styles/icons/igicon.png" alt="icon"></a>
				<a class="icon-link">deez</a>
				<a class="icon-link">nutz</a>
			</div>
			<div class="footer-divider"></div>
		</div>

		<div class="row pad-top">

			<div class="left">
				<ul class="footerLast">
					<li>Privacy</li>
					<li>Cookies</li>
					<li>Terms</li>
					<li>Policy</li>
				
				</ul>
			</div>
			<div class="right">© 2017 Handy Zeb. All rights reserved.</div>
			
		</div>
	</footer>

</body>
</html>