<!DOCTYPE html>
<html>
<head>
	<title>Handy Zeb Admin</title>
	<link rel="stylesheet" href="/styles/index.css">
</head>
<body>
	<header class="site-header">
		<div class="headerRow">
			<div class="headerContents">
				<h1>Handy Zeb</h1>

				<div class="headerContainer left">
					<ul class="navContainer">
						<li><a href="/">Home</a></li>
					</ul>
				</div>
				<div class="headerContainer right">
					
					<ul class="navContainer">
							<li><a href="login">Log In</a></li>
							<li><a href="register">Register</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</header>

    <div class="container">
		<h1>Login</h1>

		
		<form class="form-inline" action="/login" method="post">
		<label for="userName">Username:</label>
		<input type="text" name="userName"><br>
		<input type="submit" value="Next">
	</div>	

	<footer class="site-footer">
		<div class="row">
			<nav class="footerOne columns">
				<ul class="footerLink" id="mainFooterLinks">
					<li>Home</li>
					<li>Help</li>
					<li>About</li>
					<li>Services</li>
					<li>Contact Us</li>
				</ul>
			</nav>

			<nav class="footerTwo columns">
				<p class="footerHeader">Locations</p>
				<ul class="footerLink">
					<li>Bahay mo</li>
					<li>Yer Mum</li>
					<li>Mars</li>
					<li>Earth</li>
					<li>Sa puso mo</li>
					<li>kill me</li>
				</ul>
			</nav>

			<nav class="footerThree columns">
				<p class="footerHeader">Popular Services</p>
				<ul class="footerLink">
					<li>Cleaning</li>
					<li>Handyman</li>
					<li>Plumbing</li>
					<li>Electrical</li>
					<li>Moving Help</li>
					<li>Painting</li>
					<li>Furniture Assembly</li>
					<li>See all services</li>
				</ul>
			</nav>
		</div>

		<div class="row">
			<div class="socialMediaIcons">
				<a class="icon-link"><img class="socialmed" src="styles/icons/fbicon.png" alt="icon"></a>
				<a class="icon-link"><img class="socialmed" src="styles/icons/twittericon.png" alt="icon"></a>
				<a class="icon-link"><img class="socialmed" src="styles/icons/igicon.png" alt="icon"></a>
				<a class="icon-link">deez</a>
				<a class="icon-link">nutz</a>
			</div>
			<div class="footer-divider"></div>
		</div>

		<div class="row pad-top">

			<div class="left">
				<ul class="footerLast">
					<li>Privacy</li>
					<li>Cookies</li>
					<li>Terms</li>
					<li>Policy</li>
				
				</ul>
			</div>
			<div class="right">© 2017 Handy Zeb. All rights reserved.</div>
			
		</div>
	</footer>
</body>
</html>