<!DOCTYPE html>
<html>
<head>
	<title>Handy Zeb | Service Provider  ( ͡° ͜ʖ ͡°)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image" href="styles/logo.png" />
	<link rel="stylesheet" type="text/css" href="styles/homeStyle.css" media="screen">
</head>
<body>
	<% include partials/header %>

    <div class="content" style="text-align: center;">
		<h1>Login</h1>

		<form class="form-inline" action="/login" method="post">
		<label for="userName">Username:</label>
		<input type="text" name="userName"><br>
		<input type="submit" value="Next">
		</form>
	</div>	

	<% include partials/footer %>
</body>
</body>
</html>