<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HandyZeb</title>
	<link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<% include partials/nav %>
    <div class="page-header">
	<h1>Registration Success</h1>
    </div>
	<p>An email confirmation will be sent after the admin has verified your request.</p>
</body>
</html>