<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HandyZeb</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<% include partials/nav %>
	<h1>Registration Success</h1>
	<p>An email confirmation will be sent after the admin has verified your request.</p>
</body>
</html>