<!DOCTYPE html>
<html>
<head>
	<title>HandyZeb Admin</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<div class="container">
		<% include partials/nav %>
		<h2>Services</h2>
		<table>
			<tr>
				<th>Service</th>
			</tr>
			<% services.forEach(function(item){ %>
				<tr>
					<td><%= item.service %></td>
				</tr>
			<% }) %>
		</table>
		
		<form action="/serviceregister" method="post">
			<label for="serviceType">Service:</label>
			<input type="text" name="serviceType"><br>
			<input type="submit">
		</form>
	</div>
</body>
</html>