<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HandyZeb Register</title>
	<link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- probably an include statement here for the header of the  -->
	<% include partials/nav %>
    <div class="container">
	<h1>Service Provider Register</h1>
    <div class="form-group">
	<form action="/spregister" method="post">
		<label for="userName">Username:</label>
		<input class="form-control" type="text" name="userName" placeholder="Username" required><br>
		<label for="firstName">First Name:</label>
		<input class="form-control" type="text" name="firstName" placeholder="First Name" required><br>
		<label for="lastName">Last Name:</label>
		<input class="form-control" type="text" name="lastName" placeholder="Last Name" required><br>
		<label for="email">Email:</label>
		<input class="form-control" type="email" name="email" placeholder="Email" required><br>
		<label for="contactNumber">Contact Number:</label>
		<input class="form-control" type="text" name="contactNumber" placeholder="Contact Number" required><br>
		<input type="text" name="userType" value="Service Provider" hidden>
		<input type="submit" class="btn">
	</form>
    </div>
</body>
</html>